.footer{
  background: transparent;
  padding: 0;
  .level{
    padding: 11rem 1.5rem 3rem;
  }
  .footer-links{
    .footer-link{
      margin-right: 15px;
    }
  }
  .brand-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    h1, h2{
      margin: 0 .2em;
    }
    h1{
      margin-bottom: .8em;
    }
  }
}
