.headline-section{
  margin: 25px 0 15px 0;
  .headlines-body{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .headline{
      width: 33.33%;
      padding: 10px;
      &.main-headline{
        width: 100%;
        margin-bottom: 15px;
      }
      a{
        &:hover{
          color: $black;
        }
      }
      @media #{$small} {
        width: 100%;
      }
    }
  }
}
