.shadow{
  @include shadow();
  &.no-hover{
    @include shadow-no-hover();
  }
}
/* Displaying */
.d-none{
  display: none;
}
.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
/* Font */
.brand-font{
  font-family: $brand-font;
}
/* Positioning */
/* Padding */
.p-0{
  padding: 0!important;
}
/*    Margin */
.m-0{
  margin: 0!important;
}
.mt-0{
  margin-top: 0!important;
}
.mr-0{
  margin-right: 0!important;
}
.mb-0{
  margin-bottom: 0!important;
}
.ml-0{
  margin-left: 0!important;
}
.push-top-5{
  margin-top: 5px!important;
}
.push-top-10{
  margin-top: 10px!important;
}
.push-top-25{
  margin-top: 25px!important;
}
.push-top-50{
  margin-top: 50px!important;
}
.push-top-100{
  margin-top: 100px!important;
}
.push-top-150{
  margin-top: 150px!important;
}
.push-right-auto{
  margin-right: auto!important;
}
.push-right-5{
  margin-right: 5px!important;
}
.push-right-10{
  margin-right: 10px!important;
}
.push-right-25{
  margin-right: 25px!important;
}
.push-right-50{
  margin-right: 50px!important;
}
.push-right-100{
  margin-right: 100px!important;
}
.push-bottom-5{
  margin-bottom: 5px!important;
}
.push-bottom-10{
  margin-bottom: 10px!important;
}
.push-bottom-25{
  margin-bottom: 25px!important;
}
.push-bottom-50{
  margin-bottom: 50px!important;
}
.push-bottom-100{
  margin-bottom: 100px!important;
}
.push-left-auto{
  margin-left: auto!important;
}
.push-left-5{
  margin-left: 5px!important;
}
.push-left-10{
  margin-left: 10px!important;
}
.push-left-25{
  margin-left: 25px!important;
}
.push-left-50{
  margin-left: 50px!important;
}
.push-left-100{
  margin-left: 100px!important;
}
/*    Pull */
.pull-top-5{
  margin-top: -5px;
}
.pull-top-10{
  margin-top: -10px;
}
.pull-top-25{
  margin-top: -25px;
}
.pull-top-50{
  margin-top: -50px;
}
.pull-top-100{
  margin-top: -100px;
}
.pull-top-150{
  margin-top: -150px;
}
/* Radius */
.radius{
  border-radius: 4px;
}
/* Text */
.text-center{
  text-align: center;
  justify-content: center!important;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
/* Width */
.w-100{
  width: 100%;
}
/* Z-index */
.z-1{
  z-index: 1;
}
.z-5{
  z-index: 5;
}
.z-10{
  z-index: 10;
}
.z-15{
  z-index: 15;
}
.z-20{
  z-index: 20;
}
